{{- define "main" -}}

{{- if (and site.Params.profileMode.enabled .IsHome) -}}
{{- partial "index_profile.html" . -}}
{{- else }}{{/* if not profileMode */}}

{{- if not .IsHome | and .Title -}}
<header class="page-header">
  {{- partial "breadcrumbs.html" . -}}
  <h1>{{ .Title }}</h1>
  {{- if .Description -}}
  <div class="page-description">{{ .Description | markdownify }}</div>
  {{- end -}}
</header>
{{- end -}}

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections -}}
{{- $paginator := .Paginate $pages -}}
{{- if .IsHome -}}
<div class="posts-list">
  {{- range $paginator.Pages -}}
  {{- $post := . -}}
  <article class="post-preview">
    {{- with $post.Params.cover.image -}}
    {{- $coverURL := partial "cover-url.html" (dict "page" $post "image" .) -}}
    <div class="post-image">
      <img src="{{ $coverURL }}" alt="{{ $post.Params.cover.alt | default $post.Title }}">
    </div>
    {{- end -}}
    <div class="post-details">
      <h2><a href="{{ $post.Permalink }}">{{ $post.Title }}</a></h2>
      <time datetime="{{ $post.Date }}">{{ $post.Date.Format "January 2, 2006" }}</time>
      {{- if $post.Params.author -}}
      <p class="post-author"> {{ $post.Params.author }}</p>
      {{- else if $post.Params.authors -}}
      <p class="post-author"> {{ delimit $post.Params.authors ", " }}</p>
      <p style="text-align: justify;">{{ $post.Summary | markdownify }}</p>
      {{- end -}}
    </div>
  </article>
  {{- end -}}
</div>
{{- if gt $paginator.TotalPages 1 -}}
<footer class="pagination-footer">
  {{ template "_internal/pagination.html" . }}
</footer>
{{- end -}}
{{- end -}}

{{- end }}{{/* end profileMode */}}

{{- end }}{{/* end main */}}
