.post-content a {
    text-decoration: underline;
    color: blue;
}

.post-content a:hover {
    opacity: 100%;
    transition: opacity 200ms;
}

.post-content a:hover {
    opacity: 75%;
}

.fab.fa-x-twitter{
	font-family:sans-serif;
}
.fab.fa-x-twitter::before{
	content:"ğ•";
	font-size:1.2em;
}
