<!-- layouts/shortcodes/sponsor-grid.html -->
<div class="sponsor-grid">
    {{ .Inner }}
</div>

<style>

.sponsor-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5rem; /* Increased horizontal gap between items */

    
}

.sponsor-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem; /* Additional spacing around each logo */
}

.sponsor-logo img {
    object-fit: contain; /* Makes all logos fit within the same box without distortion */
}
</style>
